
.discover-page {
	@include wrapper();
}

.discover-questions {
	@include column-content();

	column-count: 2;
	column-gap: 24px;
}

.discover-question {
	// max-width: 260px;
	padding-bottom: 24px;

	break-inside: avoid-column;
}
