
.purpose {
	overflow-x: hidden;
}

.purpose-introduction {
	background: #141414;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 2em;
	min-height: 40vh;
	color: #fff;
	font-family: $px-grotesk;
	text-align: center;
}

.purpose-notice {
	background: $purple;
	padding: 1.25em;
	color: #fff;
	// font-family: $serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.01em;
	text-align: center;
	a {
		border-bottom: 2px rgba(#fff, 0.2) solid;
	}
	a:hover {
		opacity: 0.6;
	}
}

.purpose-context {
	counter-reset: problem;
	position: relative;
	margin: 0 auto;
	max-width: 32rem;
	font-family: $serif;

	a {
		border-bottom: 2px rgba(#000, 0.1) solid;
		line-height: 1.1;
		&:hover {
			opacity: 0.6;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $px-grotesk;
		font-weight: bold;
	}

	h1 {
		// background: #f2f2f2;
		// border-radius: 4px;
		margin: 2em 0;
		margin-left: -20%;
		padding: 1em 0;
		width: 140%;
		font-size: 36px;
		font-weight: normal;
		text-align: center;
	}

	h3 {
		margin: 2em 0 1em;
		font-size: 24px;
	}

	h4 {
		margin: 2em 0 1em;
	}

	p,
	aside {
		margin-bottom: 1em;
	}

	strong {
		font-weight: 500;
	}

	aside {
		$line-height: 24px;
		position: absolute;
		left: 110%;
		transform: translateY(3px);
		width: 20em;
		color: #777;
		font-size: 12px;
		.offset-one,
		.offset-two,
		.offset-three,
		.offset-four,
		.offset-five {
			position: relative;
		}
		.offset-one {
			top: $line-height * 1;
		}
		.offset-two {
			top: $line-height * 2;
		}
		.offset-three {
			top: $line-height * 3;
		}
		.offset-four {
			top: $line-height * 4;
		}
		.offset-five {
			top: $line-height * 5;
		}
	}

	.break {
		background: #141414;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3rem -100% 4rem;
		width: 140vw;
		height: 50vh;
		color: #fff;
	}

	.highlight {
		background: #faf9d1;
		display: inline;
	}

	.term {
		cursor: help;
		border-bottom: 1px #aaa dotted;
	}

	.problem {
		$problem-headline-color: $blue;
		position: relative;
		margin: 2em 0;
		// padding-left: 2.25em;
		&::before {
			background: $problem-headline-color;
			border-radius: 50%;
			content: counter(problem);
			counter-increment: problem;
			position: absolute;
			top: 2px;
			left: -3em;
			width: 20px;
			color: #fff;
			font-family: $px-grotesk;
			font-size: 12px;
			font-weight: bold;
			line-height: 20px;
			text-align: center;
		}
		h4 {
			margin-top: 0;
			color: darken($problem-headline-color, 7%);
			font-size: 18px;
		}
		&:first-of-type {
			margin-top: 4em;
		}
		&:nth-child(3n-1) {
			margin-bottom: 4em;
		}
	}

	.reading-list {
		margin-top: 40px;
		margin-bottom: 120px;
	}

	.reading-list-item {
		position: relative;
		display: block;
		margin: 1.2em 0;
		padding-left: 2em;
		padding-right: 2em;
		// border-left: 3px #f2f2f2 solid;
		color: #555;
		font-size: 13px;
		a {
			white-space: nowrap;
		}
		&::before {
			position: absolute;
			content: '—';
			top: 2px;
			left: 0;
			color: #ccc;
		}
	}

	.reading-list-item-title {
		color: #242424;
		font-size: 16px;
		margin-bottom: 4px;
	}

	figure {
		margin: 1.5em 0 2em -20%;
		width: 140%;
	}

	figcaption {
		padding-top: 1em;
		padding-left: 14%;
		color: #777;
		font-size: 0.8em;
	}
}
