
%smooth {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%badge {
	display: inline-block;
	background: $blue-8;
	border-radius: 20px;
	padding: 3px 7px 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.0;
	letter-spacing: -0.03em;
	text-indent: -0.15em;
	vertical-align: middle;
}

%markdown-content {
	font-family: $serif;
	font-size: 14px;
	line-height: 1.6;

	a {
		color: $blue;
		outline: none;
		// border-bottom: 1px currentColor solid;
	}

	p + p {
		margin-top: 1em;
	}

	ul,
	ol {
		margin-left: 0;
		padding-left: 1em;
	}

	li {
		margin-bottom: 0.35em;
	}

	blockquote {
		border-left: 4px #f2f2f2 solid;
		margin-left: 0;
		padding-left: 1em;
	}
}
