
//
// Shared Sizing
//

@mixin wrapper {
	margin: 0 auto;
	max-width: $wrapper-width;
}

@mixin column-content {
	max-width: $content-width;
}

@mixin column-sidebar {
	max-width: $sidebar-width;
}

@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

//
// Components
//

@mixin icon ($url, $width: 20px, $height: $width) {
	background-image: url('/assets/images/icons/#{$url}.svg');
	background-repeat: no-repeat;
	// background-size: contain;
	width: $width;
	height: $height;
}

@mixin avatar ($size: 32px) {
	display: block;
	background: #f2f2f2;
	border-radius: 4px;
	overflow: hidden;
	width: $size;
	height: $size;
	position: relative;
	&-image {
		position: absolute;
	}
}

@mixin ss-icon {
	font-family: "SSStandard";
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

@mixin badge-count {
	// TODO
}

//
// Special States
//

@mixin no-appearance {
	border: none;
	outline: none;
	appearance: none;
}

@mixin no-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}
