
/**
 * Colors
 */
$background-html: #fff;
$background-body: #fff; // #e3e7e9

$blue: #238ce8;
$purple: #b77eed;

$blue-3: #b9babf;
$blue-4: #9a9da7;
$blue-8: #36373d;
$blue-9: #26272d;

/**
 * Typography
 */
$serif: 'Tiempos', serif;
$sans-serif: 'Akkurat', sans-serif;
$monospace: 'Akkurat Mono', Menlo, monospace;

/**
 * Measurements
 */

$wrapper-width: 900px;
$content-width: 600px;
$sidebar-width: 300px;

$border-radius: 4px;

$user-avatar-size: 36px;
