
.category-badge {
	$size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.0;
}

.category-badge::before {
	content: "";
	display: block;
	position: relative;
	top: 1px;
	vertical-align: middle;
}

.category-badge--mathematics::before {
	@include icon("category-mathematics", 15px, 13px);
}

.category-badge--computer-science::before {
	@include icon("category-computer-science", 14px);
}

.category-badge--physics::before {
	@include icon("category-physics", 22px);
}

.category-badge--astronomy::before {
	@include icon("category-astronomy", 18px);
}

.category-badge--biology::before {
	@include icon("category-biology", 16px);
}
