
.category-badge {
	$size: 28px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.0;
	width: $size;
	height: $size;
}

.category-badge::before {
	background: #fff;
	content: "";
	display: block;
	position: relative;
	top: 1px;
	vertical-align: middle;
}

.category-badge--mathematics::before {
	@include icon("category-mathematics", 22px);
}

.category-badge--computer-science::before {
	@include icon("category-computer-science", 22px);
}

.category-badge--physics::before {
	@include icon("category-physics", 22px);
}

.category-badge--astronomy::before {
	@include icon("category-astronomy", 22px);
}
