
.comment {
	display: flex;
}

.comment-aside {
	flex: 0 1 auto;
	margin-right: 16px;
}

.comment-avatar {
	&:hover {
		opacity: 0.8;
	}
}

@supports (position: sticky) {
	.comment-avatar {
		position: sticky;
		top: 50px;
	}
}

.comment-body {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 16px;
	background: #fff;
	border: 1px #f2f2f2 solid;
	border-radius: 3px;
}

.comment-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	font-family: $sans-serif;
}

.comment-header-user {
	display: flex;
	align-items: baseline;
	line-height: 1.35;
}

.comment-header-user-name {
	margin-right: 3px;
	font-size: 13px;
	font-weight: bold;
}

.comment-header-user-handle {
	color: #999;
	font-size: 13px;
}

.comment-header-metadata {
	display: flex;
	align-items: baseline;
	margin-left: 12px;
	line-height: 1.0;
}

.comment-header-metadata-timestamp {
	color: #999;
	font-size: 13px;
	.tlite {
		width: 130px;
	}
}

.comment-contents {
	@extend %markdown-content;
	font-family: $serif;
	font-size: 14px;
}
