
.discussion-preview {
	@include flex-space-between;
	align-items: center;
	padding: 16px;
	padding-left: 0;
}

.discussion-preview-title {
	display: block;
	margin-bottom: 1px;
	font-weight: bold;
	&:hover {
		color: #777;
	}
}

.discussion-preview-by-line {
	display: flex;
}

.discussion-preview-last-updated-at {
	color: $gray-4;
	font-size: 12px;
}

.discussion-preview-user-avatars {
	display: flex;
	margin-right: 6px;
}

.discussion-preview-user-avatar {
	max-width: 18px;
	margin-right: 4px;
	img {
		max-width: 18px !important;
	}
}

.discussion-preview-meta {
	display: flex;
	color: $gray-4;
}

.discussion-preview-comment-count {
	&::before {
		font-size: 12px;
		margin-right: 4px;
	}
}
