
$header-background: $blue-8;

.header {
	background: $header-background;
	padding: 12px 0;
	color: #fff;
}

.header-wrapper {
	@include flex-space-between();
	margin: 0 auto;
	max-width: $wrapper-width;
}

.header-content {
	@include flex-space-between();
	align-items: center;
	min-height: 40px;
}

.header-user {
	@include flex-space-between();
	align-items: center;
}

//
// Logo
//

.header-logo {
	display: flex;
	align-items: center;
	margin-right: 24px;
	max-width: 48px;
	&:hover {
		opacity: 0.6;
	}
}

//
// Search
//

.header-search {
	background: $blue-9;
	border-radius: $border-radius;
	display: flex;
	align-items: center;
	margin-right: 32px;
	padding: 0 4px 0 12px;
	width: 250px;
}

.header-search-input {
	@include no-appearance;
	position: relative;
	top: -1px;
	background: transparent;
	padding: 13px 0 10px;
	width: 100%;
	color: $blue-3;
	font-size: 14px;
	letter-spacing: 0.01em;
}

.header-search-icon {
	@include icon("search", 19px);
	position: relative;
	top: 2px;
	background: $blue-4;
	margin-right: 8px;
}

//
// Navigation
//

.header-nav {

}

.header-user-nav {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.header-nav-link {
	margin-right: 18px;
	color: $blue-3;
	font-size: 12px;
	font-weight: bold;
	&:hover {
		color: darken($blue-4, 10%);
	}
}

//
// Notifications
//

.header-notifications {
	display: flex;
	align-items: center;
}

.header-notifications--active {
	.header-notifications-icon::after {
		background: #c3c6d8;
		border: 3px $header-background solid;
		border-radius: 50%;
		content: "";
		position: absolute;
		top: -4px;
		right: -1px;
		width: 12px;
		height: 12px;
	}
	&::after {
	}
}

.header-notifications-icon {
	position: relative;
	top: 3px;
	&::before {
		color: #6d707d;
		font-size: 18px;
		line-height: 0.8;
	}
}

//
// Profile
//

.header-profile {
	display: flex;
	align-items: center;
	margin-left: 24px;
}

.header-profile-avatar {
	max-width: 36px;
}

.header-profile-avatar img {
	@include no-drag();
	border-radius: $border-radius;
}

//
// CTA
//

.header-cta {
	display: flex;
}

.header-cta-button {
	display: flex;
	border-radius: 4px;
	background: darken($header-background, 5%);
	align-items: center;
	padding: 0.4em 1.25em;
	color: lighten($header-background, 50%);
	font-size: 13px;
	font-weight: bold;
	margin-left: 1em;
}

//
// Home page
//

.header--home {
	position: absolute;
	background: transparent;
	left: 0;
	right: 0;
	z-index: 9;

	.header-nav-link {
		color: rgba(#fff, 0.7);
	}

	.header-cta-button {
		background: rgba(#fff, 0.2);
		color: #fff;
	}
	.header-cta-button:hover {
		background: #fff;
		color: $blue;
	}
	.header-cta-button--dark {
		border: 1px rgba(#fff, 0.2) solid;
		background: transparent;
	}
	.header-cta-button--dark:hover {
		background: rgba(#fff, 0.05);
		color: #fff;
	}
}
