
$header-background: $blue-8;

.header {
	background: $header-background;
	padding: 12px 0;
	color: #fff;
}

.header-wrapper {
	@include flex-space-between();
	margin: 0 auto;
	max-width: $wrapper-width;
}

.header-content {
	@include flex-space-between();
	align-items: center;
}

.header-user {
	@include flex-space-between();
	align-items: center;
}

//
// Logo
//

.header-logo {
	display: flex;
	align-items: center;
	margin-right: 24px;
	max-width: 24px;
}

//
// Search
//

.header-search {
	background: $blue-9;
	border-radius: $border-radius;
	display: flex;
	align-items: center;
	margin-right: 32px;
	padding: 0 4px 0 12px;
	width: 250px;
}

.header-search-input {
	@include no-appearance;
	position: relative;
	top: -1px;
	background: transparent;
	padding: 13px 0 10px;
	width: 100%;
	color: $blue-3;
	font-size: 14px;
	letter-spacing: 0.01em;
}

.header-search-icon {
	@include icon("search", 19px);
	position: relative;
	top: 2px;
	background: $blue-4;
	margin-right: 8px;
}

//
// Navigation
//

.header-nav {
	color: $blue-3;
	font-size: 12px;
	font-weight: bold;
}

.header-nav-link {
	margin-right: 18px;
	&:hover {
		color: darken($blue-4, 10%);
	}
}

//
// Notifications
//

.header-notifications {
	display: flex;
	align-items: center;
}

.header-notifications--active {
	.header-notifications-icon::after {
		background: #c3c6d8;
		border: 3px $header-background solid;
		border-radius: 50%;
		content: "";
		position: absolute;
		top: -4px;
		right: -1px;
		width: 12px;
		height: 12px;
	}
	&::after {
	}
}

.header-notifications-icon {
	position: relative;
	top: 3px;
	&::before {
		color: #6d707d;
		font-size: 18px;
		line-height: 0.8;
	}
}

//
// Profile
//

.header-profile {
	display: flex;
	align-items: center;
	margin-left: 24px;
}

.header-profile-avatar {
	max-width: 36px;
}

.header-profile-avatar img {
	@include no-drag();
	border-radius: $border-radius;
}
