
//
// Akkurat
//

@font-face {
  font-family: 'Akkurat';
	font-weight: normal;
	font-style: normal;
  src: url('/assets/fonts/AkkuratWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Akkurat';
	font-weight: bold;
	font-style: normal;
  src: url('/assets/fonts/AkkuratWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Akkurat Mono';
	font-weight: normal;
	font-style: normal;
  src: url('/assets/fonts/AkkuratWeb-Mono.woff') format('woff');
}

//
// Tiempos
//

@font-face {
  font-family: 'Tiempos';
	font-weight: normal;
	font-style: normal;
  src: url('/assets/fonts/TiemposTextWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
	font-weight: normal;
	font-style: italic;
  src: url('/assets/fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
	font-weight: 500;
	font-style: normal;
  src: url('/assets/fonts/TiemposTextWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
	font-weight: 500;
	font-style: italic;
  src: url('/assets/fonts/TiemposTextWeb-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
	font-weight: bold;
	font-style: normal;
  src: url('/assets/fonts/TiemposTextWeb-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
	font-weight: bold;
	font-style: italic;
  src: url('/assets/fonts/TiemposTextWeb-SemiboldItalic.woff') format('woff');
}
