
/**
 * Device adaptation meta
 */

@viewport {
	width: device-width;
}

/**
 * Assume border-box for everything
 * See: http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/**
 * Assume content will be responsive
 */

img,
video {
	max-width: 100%;
	height: auto;
}
